.produto{
    width: 150px;
    padding: 20px;
    background-color: azure;
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: center;
}

.produto h2, p{
    margin: 0;
    font-size: 15px;
}