.rodape {
  background-color: #148354;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position:absolute;
  bottom: 0;
  font-size: 15px;
  width: 100%;
}

.rodape nav{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.rodape a {
  color: #bbb;
  text-decoration: none;
}